@font-face {
  font-family: lem;
  src: url(../public/Le-Murmure.otf);
}
@font-face {
  font-family: ogg;
  src: url(../public/Ogg-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: lem;
  font-size: 3vw;
}
html, body {
  width: 100%;
  height: 100%;
  background-color: #B1A59F;
}
.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ul {
  color: #131313;
  position: relative;
  top: 20%;
  left: 10%;
  width: 80%;
  height: 60%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
  /* mix-blend-mode: luminosity; 
  mix-blend-mode: color-burn;
  /* background-color: aqua; 
}
li {
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.104);
  cursor: pointer;
  transition: 1s;
}
li:hover {
  opacity: 1 !important;
} */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.heading {
  color: #131313;
  position: relative;
  /* top: 20%;
  left: 10%; */
  width: 60%;
  height: 60%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  /* background-color: bisque; */
  /* mix-blend-mode: luminosity; */
  mix-blend-mode: color-burn;
  /* background-color: aqua; */
  gap: 2vw;
}
.top {
  width: 100%;
  cursor: pointer;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.bottom {
  width: 100%;
  cursor: pointer;
  transition: 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  /* font-size: 8vw; */
  text-decoration: none;
  color: #333333;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
a p {
  font-family: ogg;
  font-size: 1.5vw;
}
a h1 {
  font-size: 8vw;
  line-height: 6vw;
}
